@model Laboration3.Models.PlayerModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to cut this player?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStarting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStarting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post" asp-route-person_id="@Model.Id">
        <input type="hidden" asp-for="@Model.Id" />

        <button type="submit" class="btn btn-danger">Ta bort</button>

        <a asp-action="SelectWithDataSet">Cancel</a>
    </form>
</div>